<footer class="footer">
  <small>
    Site réalisé avec ❤️ sous
    <a href="http://rubyonrails.org/">Ruby on Rails</a>
    par
    <a href="https://www.instagram.com/l.humeur.du.jour/">Racö</a>
  </small>
  <nav>
    <ul>

      <li><%= link_to "My Github Page", "https://github.com/raco82" %></li>
    </ul>
  </nav>
</footer>
