<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "THE MOVIE DATABASE", '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Racö on Github", "https://github.com/raco82" %></li>

      </ul>
    </nav>
  </div>
</header>
